.message {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.container {
    width: 90vw;
    height: 90vh;
    border: 3px solid var(--border-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: var(--primary-color);
    box-shadow: var(--main-box-shadow);
}

.BottomBlock1 {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-right: 3px solid var(--border-color);
}

.selUsers, .selChats, .makeChat {
    width: 90%;
    height: 20%;
    background: var(--button-color);
    font-size: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--border-color);
    border-radius: 7px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
    color: var(--text-color);
}

.selUsers:hover, .selChats:hover, .makeChat:hover {
    transform: scale(1.05);
}


.BottomBlock2 {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list {
    height: 100%;
    width: 90%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.UserLi {
    width: 90vh;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--button-color);
    font-size: 37px;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s;
    cursor: pointer;
    gap: 50px;
    color: var(--text-color);
}

.ChatLi {
    width: 90vh;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--button-color);
    font-size: 37px;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    padding: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s;
    cursor: pointer;
    color: var(--text-color);
}

.UserLi:hover, .ChatLi:hover {
    transform: scale(1.02);
}

.joinBtn {
    width: 50px;
    height: 40px;
    cursor: pointer;
    border: 0px;
}

.chatForm {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.inputTitle {
    width: 60%;
    height: 15%;
    font-size: 35px;
    padding: 10px;
    outline: none;
    border: 2px solid var(--border-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background: var(--input-color);
    color: var(--text-color);
}

.inputPassword {
    width: 60%;
    height: 15%;    
    font-size: 35px;    
    padding: 10px;
    outline: none;
    border: 2px solid var(--border-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background: var(--input-color);
    color: var(--text-color);
}

.createBtn {
    width: 25%;
    height: 15%;
    font-size: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    transition: all 0.3s;
    background: var(--button-color);
    color: var(--text-color);
}

.selectUsersBtn {
    width: 25%;
    height: 15%;
    font-size: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    transition: all 0.3s;
    background: var(--button-color);
    color: var(--text-color);
}

.activeBlock {
    background-color: gray;
    border: 3px solid var(--border-color);
    border-radius: 5px;
    width: 70vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    overflow: hidden;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.ChatH2 {
    padding: 10px;
    background-color: var(--border-color);
    color: var(--text-color);
}

.chatBox {
  flex-grow: 1;
  overflow-y: auto;
  border: 1px solid gray;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.author {
    color: var(--text-color);
}

.date {
    color: var(--text-color);
}

.inputField {
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  background: var(--input-color);
  color: var(--text-color);
}

.msgBtn {
  padding: 15px 16px;
  outline: none;
  background-color: var(--border-color);
  cursor: pointer;
  color: var(--text-color);
  border: 0px;
}

.dropdown__icon {
	font-size: var(--font-size-l);
	color: var(--text-color);
	padding: var(--offset-xxs);
    border: 2px solid black;
    cursor: pointer;
}

.UserLi.selected {
    background-color: rgb(71, 94, 100);
}

.checkbox {
    transform: scale(1.5);
}

.createBtn:hover, .selectUsersBtn:hover {
    background: var(--hover-color);
}

.blue {
    background: var(--blue-color);
}